// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.bunny.net/css?family=pirata-one');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "parchment";


img.oom-header {
    width: auto;
    height: 150px;
    max-height: 200px !important;
}

img.mh-150 {
    width: auto;
    height: 150px;
    max-height: 150px !important;
}

body {
    background-color: #000;
}

table.table-bg-none {
    --bs-table-bg: unset !important;
}
